@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(to left top, rgb(73, 73, 77), rgb(0, 0, 0));
}
footer {
  background-color: black;
}
header {
  background-color: black;
}
.Card {
  background-color: #111;
  margin: 0;
  overflow: hidden;
  animation: stars 50s linear infinite;
}

.Skills {
  background: linear-gradient(to left top, rgb(73, 73, 77), rgb(0, 0, 0));
}

@keyframes borderAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5%);
  }
  50% {
    transform: translateY(20%);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(0);
  }
}

.border-gradient {
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 4px 4px rgb(212, 209, 209));
  background: cyan;
  animation: borderAnimation 4s linear infinite;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
